%br/
.container
  %h5= @vender_product.product.description
  .row
    - @vender_product.seller_product_variants.each do |seller_product_variant|
      .sellervariant
        .col-sm-12
          %strong.text-success Color:
          = seller_product_variant.product_variant.color.name
        .col-sm-12
          %strong.text-success Processor:
          = seller_product_variant.product_variant.processor.name
        .col-sm-12
          %strong.text-success Storage:
          = seller_product_variant.product_variant.storage.name
        .col-sm-12
          %strong.text-success Display:
          = seller_product_variant.product_variant.display.name
        .col-sm-12
          %strong.text-success Price:
          = seller_product_variant.price
        .col-sm-12
          %strong.text-success Discount:
          = seller_product_variant.discount
        .col-sm-12
          %strong.text-success Final price:
          = seller_product_variant.final_price
  %br/
  = link_to 'Edit', edit_vender_product_path
  \|
  = link_to 'Back', vender_products_path
