%p#notice= notice

%p
  %b Name:
  = @seller.name
%p
  %b Email:
  = @seller.email
%p
  %b Address:
  = @seller.address
%p
  %b Contact no:
  = @seller.contact_no

= link_to 'Edit', edit_seller_path(@seller)
\|
= link_to 'Back', sellers_path
