.row
  .col-sm-5
    .card
      .row
        .col-sm-4
          .product
            - if @product.mobile_photos.attached?
              - @product.mobile_photos.each do |mobile_photo|
                .col-2
                  = image_tag(mobile_photo, size: "80", onclick: "set_image(this);",class:"list-group-item")
        .col-sm-6
          .container
            - if @product.mobile_photos.attached?
              = image_tag(@product.mobile_photos.first, style: "width:100%", class: "hide")
              %img{ id: "expandedImg" ,style: "width:100%"}

    .container
      = link_to 'Back', product_path, class: "btn btn-success"
  .col-sm-7
    %h4= @product.description
    %h4= @product.brand.name
    = @product.release_year.strftime('%B %e, %Y at %I:%M %p')
    %br/
    - @product.product_categories.each do |category|
      = category.category.name
    %br/
    - @seller_product_variant.each do |seller_product_variants|
      %strong.text-success Seller name:
      = seller_product_variants.seller_product.seller.name
      %br/
      %strong.text-success Price:
      = seller_product_variants.price
      %br/
      %strong.text-success Discount:
      = seller_product_variants.discount
      %br/
      %strong.text-success Final Price:
      = seller_product_variants.final_price


    .row
      .card.showproduct
        .card-header
          Variant Details
        .card-body
          - @seller_product_variant.each do |seller_product_variants|
            = seller_product_variants.product_variant.storage.name
            ,
            = seller_product_variants.product_variant.color.name
            ,
            = seller_product_variants.product_variant.processor.name
            ,
            = seller_product_variants.product_variant.display.name
            ,
            = seller_product_variants.product_variant.weight
            gram ,
            = seller_product_variants.product_variant.height
            cm ,
            = seller_product_variants.product_variant.width
            cm ,
            = seller_product_variants.product_variant.thickness
            mm ,
            = seller_product_variants.product_variant.front_camera
            MP ,
            = seller_product_variants.product_variant.rear_camera
            MP
            %br/
            %br/
            = link_to "Order", order_payment_path, class: "btn btn-success"



:javascript
  function set_image(imgs){
    $(".hide").hide();
    var expandImg = document.getElementById("expandedImg");
    expandImg.src = imgs.src;
    expandImg.parentElement.style.display = "block";
  }
