- if @seller_product_variants.empty?
  %h3 There is no record
- else
.row
  .col-lg-12
    .card
      .display
        - @products.each do |product|
          %strong.text-center Photos
          .column
            - if product.mobile_photos.attached?
              - product.mobile_photos.each do |mobile_photo|
                - if mobile_photo.representable?
                  = link_to image_tag(mobile_photo.representation(resize: '200x200')), mobile_photo
          .card-body
            %h4.card-header= product.description
        - @seller_product_variants.each do |seller_product_variant|
          .row
            .col-4
              %strong seller :
            .col-5
              = seller_product_variant.seller_product.seller.name
          .row
            .col-4
              %strong.text-success Price:
            .col-5
              = seller_product_variant.price
          .row
            .col-4
              %strong.text-success Discount:
            .col-5
              = seller_product_variant.discount
          .row
            .col-4
              %strong.text-success Final Price:
            .col-5
              = seller_product_variant.final_price
          .row
            .col-4
              %strong.text-success Storage :
            .col-5
              = seller_product_variant.product_variant.storage.name
          .row
            .col-4
              %strong.text-success Color :
            .col-5
              = seller_product_variant.product_variant.color.name
          .row
            .col-4
              %strong.text-success Processor :
            .col-5
              = seller_product_variant.product_variant.processor.name
          .row
            .col-4
              %strong.text-success Display :
            .col-5
              = seller_product_variant.product_variant.display.name
          .row
            .col-4
              %strong.text-success Weight
            .col-5
              = seller_product_variant.product_variant.weight
          .row
            .col-4
              %strong.text-success Height :
            .col-5
              = seller_product_variant.product_variant.height
          .row
            .col-4
              %strong.text-success Width :
            .col-5
              = seller_product_variant.product_variant.width
          .row
            .col-4
              %strong.text-success Thickness :
            .col-5
              = seller_product_variant.product_variant.thickness
          .row
            .col-4
              %strong.text-success Front Camera :
            .col-5
              = seller_product_variant.product_variant.front_camera
          .row
            .col-4
              %strong.text-success Rear Camera :
            .col-5
              = seller_product_variant.product_variant.rear_camera
        = link_to "Order", order_payment_path, class: "btn btn-success"
= link_to "Back", products_path, class: "btn btn-success"
