.row
  .col-sm-5
    .card
      .row
        .col-sm-4
          .product
            - if @product.mobile_photos.attached?
              - @product.mobile_photos.each do |mobile_photo|
                .col-2
                  = image_tag(mobile_photo, size: "80", onclick: "set_image(this);",class:"list-group-item")
        .col-sm-6
          .container
            = image_tag(@product.mobile_photos.first, style: "width:100%", class: "hide")
            %img{ id: "expandedImg" ,style: "width:100%"}

  .col-sm-6
    %h4= @product.description
    %h4= @product.brand.name
    = @time
    %br/
    - @product.product_categories.each do |category|
      = category.category.name
    %br/
    - @seller_product_variant.each do |seller_product_variants|
      %strong.text-success Seller name:
      = seller_product_variants.seller_product.seller.name
      %br/
      %strong.text-success Price:
      = seller_product_variants.price
      %br/
      %strong.text-success Discount:
      = seller_product_variants.discount
      %br/
      %strong.text-success Final Price:
      = seller_product_variants.final_price
    .row
      .card.showproduct
        .card-header
          Variant Details
        .card-body
          - @seller_product_variant.each do |seller_product_variants|
            = seller_product_variants.product_variant.storage.name
            ,
            = seller_product_variants.product_variant.color.name
            ,
            = seller_product_variants.product_variant.processor.name
            ,
            = seller_product_variants.product_variant.display.name
            ,
            = seller_product_variants.product_variant.weight
            gram ,
            = seller_product_variants.product_variant.height
            cm ,
            = seller_product_variants.product_variant.width
            cm ,
            = seller_product_variants.product_variant.thickness
            mm ,
            = seller_product_variants.product_variant.front_camera
            MP,
            = seller_product_variants.product_variant.rear_camera
            MP
.row
  .col-sm-5
    .card
      .card-header
        %h4 User Details
      .card-body
        = current_user.name
        %br/
        = current_user.email
        %br/
        = current_user.contact_no
  .col-sm-5
    .card
      .card-header
        %h4 Billing Address
      .card-body
        = form_for @order, method: 'post', url: order_path do |f|
          address
          = f.text_field :address, class: "form-control"
          %br/
          city
          = f.text_field :city, class: "form-control"
          %br/
          state
          = f.text_field :state, class: "form-control"
          %br/
          pincode
          = f.text_field :pincode, class: "form-control"
          = f.hidden_field :seller_product_variant_id
          = f.hidden_field :seller_id
          = f.hidden_field :product_variant_id
          = f.hidden_field :price
          = f.hidden_field :discount
          = f.hidden_field :final_price
          %br/
          .field
            = f.radio_button :payment_type, "cash_on_delivery"
            = f.label :cash_on_delivery, "Cash-On-Delivery"
            %br/
            = f.radio_button :payment_type, "net_banking"
            = f.label :net_banking, "Net-Banking"
            .showhide
              = f.text_field :payment_transaction, class: "form-control"
          %br/
          = f.submit "payment", class: 'btn btn-success'

.container
  = link_to "Back", order_path, class: 'btn btn-success'


:javascript
  $(function() {
    $('input[name="order[payment_type]"]').on('click', function() {
        if ($(this).val() == 'net_banking') {
            $('.showhide').show();
        }
        else {
            $('.showhide').hide();
        }
    });
  });
  function set_image(imgs){
    $(".hide").hide();
    var expandImg = document.getElementById("expandedImg");
    var imgText = document.getElementById("imgtext");
    expandImg.src = imgs.src;
    imgText.innerHTML = imgs.alt;
    expandImg.parentElement.style.display = "block";
  }
