#mybody
  .container
    .row
      .col-sm-5.mx-auto
        .card.card-light
          .card-header
            %h5.card-title.text-center Profile
          .card-body
            .round-image-50
              = image_tag(@seller.profile_photo, width: "200px", height: "200px")
            %br/
            .row
              .col-4
                %strong.text-success Name:
              .col-6
                = @seller.name
            .row
              .col-4
                %strong.text-success Email:
              .col-6
                = @seller.email
            .row
              .col-4
                %strong.text-success Contact no:
              .col-6
                = @seller.contact_no
          = link_to 'Edit Profile', edit_seller_registration_path, class: "btn btn-success"
