%h1 Listing displays

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @displays.each do |display|
      %tr
        %td= display.name
        %td= link_to 'Show', display
        %td= link_to 'Edit', edit_display_path(display)
        %td= link_to 'Destroy', display, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Display', new_display_path
