%br/
- if @order.empty?
  .text-center
    .card
      %h5 No orders yet!
- else
  .container
    .row
      .card.showproduct
        .card-header
          My Order
        .card-body
          - @order.each do |orders|
            .row
              .col-3
                = image_tag(orders.product_variant.product.mobile_photos.first, width: "100px", height: "150px")
              .col-7
                = orders.product_variant.product.description
                %br/
                = orders.product_variant.product.brand.name
                %br/
                %strong Seller :
                = orders.seller.name
                .form-group.row
                  .col-2
                    %strong.text-success Price
                    = orders.price
                  .col-2
                    %strong.text-success Discount
                    = orders.discount
                    '%
                  .col-3
                    %strong.text-success Final Price
                    = orders.final_price
              .col-2
                .icon-size
                  = link_to fa_icon("eye"),users_order_path(orders)
                  = link_to fa_icon("trash"),users_order_path(orders), method: :delete, data: { confirm: 'Are you sure?' }, class: "icon-delete"
              %hr/
    %br/
    %br/
    = link_to "Back", products_path, class: "btn btn-success"
