.row
  .col-sm-5
    .card
      .row
        .col-sm-4
          .product
            - if @orders.product_variant.product.mobile_photos.attached?
              - @orders.product_variant.product.mobile_photos.each do |mobile_photo|
                .col-2
                  = image_tag(mobile_photo, size: "80", onclick: "set_image(this);",class:"list-group-item")
        .col-sm-6
          .container
            - if @orders.product_variant.product.mobile_photos.attached?
              = image_tag(@orders.product_variant.product.mobile_photos.first, style: "width:100%", class: "hide")
              %img{ id: "expandedImg" ,style: "width:100%"}
    .container
      = link_to 'Back', users_orders_path, class: "btn btn-success"
  .col-sm-7
    %h4= @orders.product_variant.product.description
    %h4= @orders.product_variant.product.brand.name
    - @orders.product_variant.product.product_categories.each do |category|
      = category.category.name

    .card.showproduct
      .card-header
        Variant Details
      .card-body
        = @orders.product_variant.storage.name
        ,
        = @orders.product_variant.color.name
        ,
        = @orders.product_variant.processor.name
        ,
        = @orders.product_variant.display.name
        ,
        = @orders.product_variant.weight
        gram ,
        = @orders.product_variant.height
        cm ,
        = @orders.product_variant.width
        cm ,
        = @orders.product_variant.thickness
        mm ,
        = @orders.product_variant.front_camera
        MP ,
        = @orders.product_variant.rear_camera
        MP
        %br/

        .row
          .col-2
            Seller :
          .col-3
            = @orders.seller.name
          .col-0
            .text-success ₹
          .col-2
            = @orders.price
          .col-2
            = @orders.discount
            '%
          .col-0
            .text-success ₹
          .col-2
            = @orders.final_price

    .card.showproduct
      .card-header
        User Details
      .card-body
        = @orders.address
        = @orders.city
        = @orders.state
        = @orders.pincode
        %br/
        = @time
        %br/
        = @orders.payment_type
        %br/
        = @orders.payment_transaction



:javascript
  function set_image(imgs){
    $(".hide").hide();
    var expandImg = document.getElementById("expandedImg");
    expandImg.src = imgs.src;
    expandImg.parentElement.style.display = "block";
  }
