%header
  #demo.carousel.slide{"data-ride": "carousel"}
    %ul.carousel-indicators
      %li.active{"data-slide-to": "0", "data-target": "#demo"}
      %li{"data-slide-to": "1", "data-target": "#demo"}
      %li{"data-slide-to": "2", "data-target": "#demo"}
    .carousel-inner
      .carousel-item.active
        = image_tag('phone.jpg',size: "1300x500", class: 'fill img-responsive')
      .carousel-item
        = image_tag('iphone.jpg',size: "1300x500", class: 'fill img-responsive')
      .carousel-item
        = image_tag('mobiles.jpg',size: "1300x500", class: 'fill img-responsive')
    %a.carousel-control-prev{"data-slide" => "prev", href: "#slides", role: "button"}
      %span.carousel-control-prev-icon{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.carousel-control-next{"data-slide" => "next", href: "#slides", role: "button"}
      %span.carousel-control-next-icon{"aria-hidden" => "true"}
      %span.sr-only Next
%br
= link_to image_tag( 'apple.png'), products_path, class: "butt"
= link_to image_tag( 'blackberry.png'), products_path, class: "butt"
= link_to image_tag( 'honor.png'), products_path, class: "butt"
= link_to image_tag( 'oneplus-logo.png'), products_path, class: "butt"
= link_to image_tag( 'samsung.png'), products_path, class: "butt"
= link_to image_tag( 'sony.png'), products_path, class: "butt"
