%br/
- if @order.empty?
  .text-center
    .card
      %h5 No orders yet!
- else
  .container
    .row
      .card.showproduct
        .card-header
          My Order
        .card-body
          - @order.each do |orders|
            .row
              .col-3
                = image_tag(orders.seller_product_variant.product_variant.product.mobile_photos.first, width: "100px", height: "150px")
              .col-7
                = orders.seller_product_variant.product_variant.product.description
                %br/
                = orders.seller_product_variant.product_variant.product.brand.name
                %br/
                %strong User :
                = orders.user.name
                %br/
                %strong order date:
                = orders.ordered_date.strftime("%B %d at %I:%M %p")
              .col-2
                .icon-size
                  = link_to fa_icon("eye"),vender_order_path(orders)
              %hr/
