%br/

.row
  .card.showproduct
    .margin
      .row
        .col-sm-5
          %strong Product Name:
        .col-sm-5
          = @order.seller_product_variant.seller_product.product.description
      .row
        .col-sm-5
          %strong Price:
        .col-sm-5
          = @order.price
      .row
        .col-sm-5
          %strong Discount:
        .col-sm-5
          = @order.discount
      .row
        .col-sm-5
          %strong Final Price:
        .col-sm-5
          = @order.final_price
      .row
        .col-sm-5
          %strong User name:
        .col-sm-7
          = @order.user.name
      .row
        .col-sm-5
          %strong Address:
        .col-sm-7
          = @order.address
      .row
        .col-sm-5
          %strong City:
        .col-sm-5
          = @order.city
      .row
        .col-sm-5
          %strong State:
        .col-sm-5
          = @order.state
      .row
        .col-sm-5
          %strong Pincode:
        .col-sm-5
          = @order.pincode
      .row
        .col-sm-5
          %strong Order Date:
        .col-sm-7
          = @order.ordered_date
      .row
        .col-sm-5
          %strong Payment Type:
        .col-sm-5
          = @order.payment_type
      .row
        .col-sm-5
          %strong Payment Number:
        .col-sm-5
          = @order.payment_transaction

= link_to "back", vender_order_path, class: "btn btn-success"
