.row
  .col-sm-5
    .card
      .row
        .col-sm-4
          .product
            - if @order.product_variant.product.mobile_photos.attached?
              - @order.product_variant.product.mobile_photos.each do |mobile_photo|
                .col-2
                  = image_tag(mobile_photo, size: "80", onclick: "set_image(this);",class:"list-group-item")
        .col-sm-6
          .container
            - if @order.product_variant.product.mobile_photos.attached?
              = image_tag(@order.product_variant.product.mobile_photos.first, style: "width:100%", class: "hide")
              %img{ id: "expandedImg" ,style: "width:100%"}
    .container
      = link_to 'Back', vender_orders_path, class: "btn btn-success"
  .col-sm-7
    %h4= @order.product_variant.product.description
    %h4= @order.product_variant.product.brand.name
    - @order.product_variant.product.product_categories.each do |category|
      = category.category.name
    .col
      .card
        .card-header
          Variant Details
        .card-body
          = @order.product_variant.storage.name
          ,
          = @order.product_variant.color.name
          ,
          = @order.product_variant.processor.name
          ,
          = @order.product_variant.display.name
          ,
          = @order.product_variant.weight
          gram ,
          = @order.product_variant.height
          cm ,
          = @order.product_variant.width
          cm ,
          = @order.product_variant.thickness
          mm ,
          = @order.product_variant.front_camera
          MP ,
          = @order.product_variant.rear_camera
          MP
          %br/

          .row
            .col-3
              = @order.user.name
            .col-0
              .text-success ₹
            .col-2
              = @order.price
            .col-2
              = @order.discount
              '%
            .col-0
              .text-success ₹
            .col-2
              = @order.final_price

      .card-deck
        .card
          .card-header
            User Details
          .card-body
            = @order.address
            = @order.city
            = @order.state
            = @order.pincode
        .card
          .card-header
            Payment Details
          .card-body
            = @order.payment_type
            %br/
            = @order.payment_transaction



:javascript
  function set_image(imgs){
    $(".hide").hide();
    var expandImg = document.getElementById("expandedImg");
    expandImg.src = imgs.src;
    expandImg.parentElement.style.display = "block";
  }
