%br/
- if @favorites.empty?
  .text-center
    .card
      %h5 There is no record
- else
  .container
    .row
      .card.showproduct
        .card-header
          My Wishlist
        .card-body
          - @favorites.each do |favorite|
            .row
              .col-3
                = image_tag(favorite.product.mobile_photos.first, width: "100px", height: "150px")
              .col-7
                = favorite.product.description
                %br/
                = favorite.product.brand.name
                %br/
                - favorite.product.product_categories.each do |product_category|
                  = product_category.category.name
              .col-2
                .icon-size
                  = link_to fa_icon("eye"), product_path(favorite.product)
                  |
                  = link_to fa_icon("trash"), destroy_favorite_path(favorite), method: :delete, data: { confirm: 'Are you sure?' }, class: "icon-delete"
              %hr/
    = link_to "Back", products_path, class: "btn btn-success"
