.row
  %col-sm-2
    .card
      %article.card-group-item
        %header.card-header
          %h6 Prices
        .filter-content
          .card-body
            #the_slider
            %br
            %span#output
      %article.card-group-item
        %header.card-header
          %h6 Brands
        .filter-content
          .card-body
            - Brand.all.each do |brand|
              - checked = false
              - if @brand_ids.include?(brand.id.to_s)
                - checked = true
              = check_box_tag("brand", brand.id, checked, { class: 'chk-brand', onclick: "set_brand();"  } )
              %span.form-check-label= brand.name
              %br
      %article.card-group-item
        %header.card-header
          %h6 Type
        .filter-content
          .card-body
            - Category.all.each do |category|
              - checked = false
              - if @category_ids.include?(category.id.to_s)
                - checked = true
              = check_box_tag("category", category.id, checked, { class: 'chk-category', onclick: "set_category();"  } )
              %span.form-check-label= category.name
              %br
      %article.card-group-item
        %header.card-header
          %h6 Processor
        .filter-content
          .card-body
            - Processor.all.each do |processor|
              - checked = false
              - if @processor_ids.include?(processor.id.to_s)
                - checked = true
              = check_box_tag("processor", processor.id, checked, { class: 'chk-processor', onclick: "set_processor();"  } )
              %span.form-check-label= processor.name
              %br
      %article.card-group-item
        %header.card-header
          %h6 Color
        .filter-content
          .card-body
            - Color.all.each do |color|
              - checked = false
              - if @color_ids.include?(color.id.to_s)
                - checked = true
              = check_box_tag("color", color.id, checked, { class: 'chk-color', onclick: "set_color();"  } )
              %span.form-check-label= color.name
              %br
      %article.card-group-item
        %header.card-header
          %h6 Display
        .filter-content
          .card-body
            - Display.all.each do |display|
              - checked = false
              - if @display_ids.include?(display.id.to_s)
                - checked = true
              = check_box_tag("display", display.id, checked, { class: 'chk-display', onclick: "set_display();"  } )
              %span.form-check-label= display.name
              %br
      %article.card-group-item
        %header.card-header
          %h6 Storage
        .filter-content
          .card-body
            - Storage.all.each do |storage|
              - checked = false
              - if @storage_ids.include?(storage.id.to_s)
                - checked = true
              = check_box_tag("storage", storage.id, checked, { class: 'chk-storage', onclick: "set_storage();"  } )
              %span.form-check-label= storage.name
              %br
  %col-sm-10
    %form{ action: products_path, id: 'search_form' }
      %input{ type: 'hidden', name: 'search',       value: params[:search] }
      %input{ type: 'hidden', name: 'brand_id',     value: params[:brand_id],     id: 'brand_id' }
      %input{ type: 'hidden', name: 'category_id',  value: params[:category_id],  id: 'category_id' }
      %input{ type: 'hidden', name: 'processor_id', value: params[:processor_id], id: 'processor_id' }
      %input{ type: 'hidden', name: 'color_id',     value: params[:color_id],     id: 'color_id' }
      %input{ type: 'hidden', name: 'display_id',   value: params[:display_id],   id: 'display_id' }
      %input{ type: 'hidden', name: 'storage_id',   value: params[:storage_id],   id: 'storage_id' }
      %input{ type: 'hidden', name: 'price_min',    value: params[:price_min],    id: 'price_min' }
      %input{ type: 'hidden', name: 'price_max',    value: params[:price_max],    id: 'price_max' }

    - if @products.empty?
      %h2 no record found
    - else
      - @products.each do |product|
        .card.display
          .card-img-top
            - if product.mobile_photos.attached?
              = image_tag(product.mobile_photos.first, width: "300px", height: "500px")
          .card-body
            %h4.card-title= product.description
            %strong.text-success Price ₹
            - product.product_variants.each do |product_variant|
              = product_variant.price
          = link_to 'Show', product, class: "btn btn-primary"
      %br/
      %br/
      .pagination.justify-content-center
        = paginate @products

:javascript
  var array = [];
  var selected;
  function set_brand(){
    $(".chk-brand:checked").each(function() {
      array.push($(this).val());
    });
    selected = array.join(',');
    $('#brand_id').val(selected);
    $('#search_form').submit();
  }
  function set_category(){
    $(".chk-category:checked").each(function() {
      array.push($(this).val());
    });
    selected = array.join(',');
    $('#category_id').val(selected);
    $('#search_form').submit();
  }
  function set_processor(){
    $(".chk-processor:checked").each(function() {
      array.push($(this).val());
    });
    selected = array.join(',');
    $('#processor_id').val(selected);
    $('#search_form').submit();
  }
  function set_color(){
    $(".chk-color:checked").each(function() {
      array.push($(this).val());
    });
    selected = array.join(',');
    $('#color_id').val(selected);
    $('#search_form').submit();
  }
  function set_display(){
    $(".chk-display:checked").each(function() {
      array.push($(this).val());
    });
    selected = array.join(',');
    $('#display_id').val(selected);
    $('#search_form').submit();
  }
  function set_storage(){
    $(".chk-storage:checked").each(function() {
      array.push($(this).val());
    });
    selected = array.join(',');
    $('#storage_id').val(selected);
    $('#search_form').submit();
  }
  $(document).ready(function() {
    var currentminvalue = #{@price_min. present? ? @price_min : '5000'};
    var currentmaxvalue = #{@price_max.present? ? @price_max : '50000'};
    var slider = $("#the_slider").slider({
    range: true,
    min: 5000,
    max: 50000,
    step: 1000,
    values: [currentminvalue, currentmaxvalue],
    slide: function(event, ui) {
      $("#output").val("₹ "+ui.values[0] + ' - ₹ ' + ui.values[1]);
      currentminvalue = ui.values[0];
      currentmaxvalue = ui.values[1];
    },
    stop: function(event, ui) {
      $("#price_min").val(ui.values[0]);
      $("#price_max").val(ui.values[1]);
      currentminvalue = ui.values[0];
      currentmaxvalue = ui.values[1];
      $('#search_form').submit();
      }
    });
    console.log(currentminvalue);
    console.log(currentmaxvalue);
    $("#output").html('₹ '+ $("#the_slider").slider("values",0) + ' - ₹ ' + $("#the_slider").slider("values",1));
  });
