.row
  %col-sm-2
    .card
      %article.card-group-item
        %header.card-header
          %h6 Brands
        .filter-content
          .card-body
            - Brand.all.each do |brand|
              - checked = false
              - if @brand_ids.include?(brand.id.to_s)
                - checked = true
              = check_box_tag("brand", brand.id, checked, { class: 'chk-brand', onclick: "set_brand();"  } )
              %span.form-check-label= brand.name
              %br
      %article.card-group-item
        %header.card-header
          %h6 Type
        .filter-content
          .card-body
            - Category.all.each do |category|
              - checked = false
              - if @category_ids.include?(category.id.to_s)
                - checked = true
              = check_box_tag("category", category.id, checked, { class: 'chk-category', onclick: "set_category();"  } )
              %span.form-check-label= category.name
              %br
      %article.card-group-item
        %header.card-header
          %h6 Processor
        .filter-content
          .card-body
            - Processor.all.each do |processor|
              - checked = false
              - if @processore_ids.include?(processor.id.to_s)
                - checked = true
              = check_box_tag("processor", processor.id, checked, { class: 'chk-processor', onclick: "set_processore();"  } )
              %span.form-check-label= processor.name
              %br
      %article.card-group-item
        %header.card-header
          %h6 Color
        .filter-content
          .card-body
            - Color.all.each do |color|
              - checked = false
              - if @color_ids.include?(color.id.to_s)
                - checked = true
              = check_box_tag("color", color.id, checked, { class: 'chk-color', onclick: "set_color();"  } )
              %span.form-check-label= color.name
              %br
      %article.card-group-item
        %header.card-header
          %h6 Display
        .filter-content
          .card-body
            - Display.all.each do |display|
              - checked = false
              - if @display_ids.include?(display.id.to_s)
                - checked = true
              = check_box_tag("display", display.id, checked, { class: 'chk-display', onclick: "set_display();"  } )
              %span.form-check-label= display.name
              %br
  %col-sm-10
    %form{ action: products_path, id: 'search_form' }
      %input{ type: 'hidden', name: 'search', value: params[:search] }
      %input{ type: 'hidden', name: 'brand_id',value: params[:brand_id], id: 'brand_id' }
      %input{ type: 'hidden', name: 'category_id', value: params[:category_id], id: 'category_id' }
      %input{ type: 'hidden', name: 'processore_id', value: params[:processore_id], id: 'processore_id' }
      %input{ type: 'hidden', name: 'color_id', value: params[:color_id], id: 'color_id' }
      %input{ type: 'hidden', name: 'display_id', value: params[:display_id], id: 'display_id' }
    - if @products.empty?
      %h2 no record found
    - else
      - @products.each do |product|
        .column
          .card
            .card-header
              = product.description
            .card-body
              .product-description
                %h6 available or not
                = product.available
                %h6 brand_id
                = product.brand_id
                %h6 release year
                = product.release_year
            .card-footer
              = link_to 'Show', product
              = link_to 'Edit', edit_product_path(product)
              = link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }
              = link_to 'New Product', new_product_path

:javascript
  var array = [];
  var selected;
  function set_brand(){
    $(".chk-brand:checked").each(function() {
      array.push($(this).val());
    });
    selected = array.join(',');
    $('#brand_id').val(selected);
    $('#search_form').submit();
  }
  function set_category(){
    $(".chk-category:checked").each(function() {
      array.push($(this).val());
    });
    selected = array.join(',');
    $('#category_id').val(selected);
    $('#search_form').submit();
  }
  function set_processore(){
    $(".chk-processore:checked").each(function() {
      array.push($(this).val());
    });
    selected = array.join(',');
    $('#processor_id').val(selected);
    $('#search_form').submit();
  }
  function set_color(){
    $(".chk-color:checked").each(function() {
      array.push($(this).val());
    });
    selected = array.join(',');
    $('#color_id').val(selected);
    $('#search_form').submit();
  }
  function set_display(){
    $(".chk-display:checked").each(function() {
      array.push($(this).val());
    });
    selected = array.join(',');
    $('#display_id').val(selected);
    $('#search_form').submit();
  }
