.row
  %col-sm-2
    .card
      %article.card-group-item
        %header.card-header
          %h6 Brands
        .filter-content
          .card-body
            - Brand.all.each do |brand|
              %input{type: "checkbox", value: brand.id, id: "mycheck", onclick: "set_brand(this, '#{brand.id}');"}
              %span.form-check-label= brand.name
              %br
      %article.card-group-item
        %header.card-header
          %h6 Type
        .filter-content
          .card-body
            - Category.all.each do |category|
              %input{type: "checkbox", value: category.id, onclick: "set_category(this, '#{category.id}');"}
              %span.form-check-label= category.name
              %br
      %article.card-group-item
        %header.card-header
          %h6 Processor
        .filter-content
          .card-body
            - Processor.all.each do |processor|
              %input{type: "checkbox", value: processor.id, onclick: "set_processore(this, '#{processor.id}');"}
              %span.form-check-label= processor.name
              %br
      %article.card-group-item
        %header.card-header
          %h6 Color
        .filter-content
          .card-body
            - Color.all.each do |color|
              %input{type: "checkbox", value: color.id, onclick: "set_color(this, '#{color.id}');"}
              %span.form-check-label= color.name
              %br
      %article.card-group-item
        %header.card-header
          %h6 Display
        .filter-content
          .card-body
            - Display.all.each do |display|
              %input{type: "checkbox", value: display.id, onclick: "set_display(this, '#{display.id}');"}
              %span.form-check-label= display.name
              %br
  %col-sm-10
    %form{ action: products_path, id: 'search_form' }
      %input{ type: 'hidden', name: 'search', value: params[:search] }
      %input{ type: 'hidden', name: 'brand_id', value: params[:brand_id], id: 'brand_id' }
      %input{ type: 'hidden', name: 'category_id', value: params[:category_id], id: 'category_id' }
      %input{ type: 'hidden', name: 'processore_id', value: params[:processore_id], id: 'processore_id' }
      %input{ type: 'hidden', name: 'color_id', value: params[:color_id], id: 'color_id' }
      %input{ type: 'hidden', name: 'display_id', value: params[:display_id], id: 'display_id' }
    - if @products.empty?
      %h2 no record found
    - else
      - @products.each do |product|
        .column
          .card
            .card-header
              = product.description
            .card-body
              .product-description
                %h6 available or not
                = product.available
                %h6 brand_id
                = product.brand_id
                %h6 release year
                = product.release_year
            .card-footer
              = link_to 'Show', product
              = link_to 'Edit', edit_product_path(product)
              = link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }
              = link_to 'New Product', new_product_path

:javascript
  function set_brand(ele,brand_id){
    if( $(ele).prop('checked',true) ){
      $('#brand_id').val(brand_id);
      $('#search_form').submit();
    }
  }
  function set_category(ele,category_id){
    if( $(ele).prop('checked') ){
      $('#category_id').val(category_id);
      $('#search_form').submit();
    }
  }
  function set_processore(ele,processore_id){
    if( $(ele).prop('checked') ){
      $('#processore_id').val(processore_id);
      $('#search_form').submit();
    }
  }
  function set_color(ele,color_id){
    if( $(ele).prop('checked') ){
      $('#color_id').val(color_id);
      $('#search_form').submit();
    }
  }
  function set_display(ele,display_id){
    if( $(ele).prop('checked') ){
      $('#display_id').val(display_id);
      $('#search_form').submit();
    }
  }
