.container
  .row
    .col-lg-12
      .card
        .display
          %strong.text-center Photos
          .column
            - if @product.mobile_photos.attached?
              - @product.mobile_photos.each do |mobile_photo|
                - if mobile_photo.representable?
                  = link_to image_tag(mobile_photo.representation(resize: '200x200')), mobile_photo
        %h4.card-header= @product.description
        .card-body
          .row
            - @product.product_variants.each do |product_variant|
              .card.showproduct
                .margin
                  .row
                    .col-4
                      %strong.text-success Storage :
                    .col-5
                      = product_variant.storage.name
                  .row
                    .col-4
                      %strong.text-success Color :
                    .col-5
                      = product_variant.color.name
                  .row
                    .col-4
                      %strong.text-success Processor :
                    .col-5
                      = product_variant.processor.name
                  .row
                    .col-4
                      %strong.text-success Display :
                    .col-5
                      = product_variant.display.name
                  .row
                    .col-4
                      %strong.text-success Weight
                    .col-5
                      = product_variant.weight
                  .row
                    .col-4
                      %strong.text-success Height :
                    .col-5
                      = product_variant.height
                  .row
                    .col-4
                      %strong.text-success Width :
                    .col-5
                      = product_variant.width
                  .row
                    .col-4
                      %strong.text-success Thickness :
                    .col-5
                      = product_variant.thickness
                  .row
                    .col-4
                      %strong.text-success Front Camera :
                    .col-5
                      = product_variant.front_camera
                  .row
                    .col-4
                      %strong.text-success Rear Camera :
                    .col-5
                      = product_variant.rear_camera
                  %br/
                  %h5 Seller List
                  %br/
                  - product_variant.seller_product_variants.each do |seller_product_variant|
                    .row
                      .col-3
                        = seller_product_variant.seller_product.seller.name
                      .col-8
                        = link_to "Buy Now", orders_path(:seller_product_variant_id => seller_product_variant), class: "btn btn-success"

        .card-footer
          - if @wishlist.present?
            Already in list
          - else
            = link_to "Add to wishlist", product_favorite_path, method: "post",class: "btn btn-success"

          = link_to 'Back', products_path, class: "btn btn-success"
