%br/
.row
  .col-sm-5
    .card
      .row
        .col-sm-4
          .product
            - if @product.mobile_photos.attached?
              - @product.mobile_photos.each do |mobile_photo|
                .col-2
                  = image_tag(mobile_photo, size: "80", onclick: "set_image(this);",class:"list-group-item")
        .col-sm-6
          .container
            = image_tag(@product.mobile_photos.first, style: "width:100%", class: "hide")
            %img{ id: "expandedImg" ,style: "width:100%"}
            #imgtext
        .col-sm-2
          - if @wishlist.present?

          - else
            .icon-size
              = link_to fa_icon("heart-o"), product_favorite_path, method: "post"
    .container
      = link_to 'Back', products_path, class: "btn btn-success"
  .col-sm-7
    %h4= @product.description
    %h4= @product.brand.name
    = @time
    %br/
    price :
    = @price.min
    to
    = @price.max
    %br/
    - @product.product_categories.each do |category|
      = category.category.name
    .row
      .card.showproduct
        .card-header
          Variant Details
        .card-body
          - @product.product_variants.each do |product_variant|
            = product_variant.storage.name
            ,
            = product_variant.color.name
            ,
            = product_variant.processor.name
            ,
            = product_variant.display.name
            ,
            = product_variant.weight
            gram ,
            = product_variant.height
            cm ,
            = product_variant.width
            cm ,
            = product_variant.thickness
            mm ,
            = product_variant.front_camera
            MP ,
            = product_variant.rear_camera
            MP
            %br/
            - product_variant.seller_product_variants.each do |seller_product_variant|
              .row
                .col-2
                  Seller :
                .col-3
                  = seller_product_variant.seller_product.seller.name
                .col-0
                  .text-success ₹
                .col-3
                  = seller_product_variant.price
                .col-3
                  = link_to "Buy Now", order_path(:seller_product_variant_id => seller_product_variant), class: "btn btn-success"
              %br/
              %br/

:javascript
  function set_image(imgs){
    $(".hide").hide();
    var expandImg = document.getElementById("expandedImg");
    var imgText = document.getElementById("imgtext");
    expandImg.src = imgs.src;
    imgText.innerHTML = imgs.alt;
    expandImg.parentElement.style.display = "block";
  }
