.container
  .row
    .col-lg-12
      .card
        %strong Photos
        .column
          - if @product.mobile_photos.attached?
            - @product.mobile_photos.each do |mobile_photo|
              - if mobile_photo.representable?
                = link_to image_tag(mobile_photo.representation(resize: '200x200')), mobile_photo
        %h4.card-header= @product.description
        .card-body
          %p.card-text
            .row.container
              .col-lg-4
                %strong.text-success Price
              .col
                - @product.product_variants.each do |product_variant|
                  = product_variant.price
          %p.card-text
            .row.container
              .col-lg-4
                %strong.text-success Available:
              .col
                = @product.available
          %p.card-text
            .row.container
              .col-lg-4
                %strong.text-success Release_year:
              .col
                = @product.release_year
          %p.card-text
            .row.container
              .col-lg-4
                %strong.text-success Storage
              .col
                - @product.storages.each do |storage|
                  = storage.name
          %p.card-text
            .row.container
              .col-lg-4
                %strong.text-success Color
              .col
                - @product.colors.each do |color|
                  = color.name
          %p.card-text
            .row.container
              .col-lg-4
                %strong.text-success Display
              .col
                - @product.displays.each do |display|
                  = display.name
          %p.card-text
            .row.container
              .col-lg-4
                %strong.text-success Processor
              .col
                - @product.processors.each do |processor|
                  = processor.name
          %p.card-text
            .row.container
              .col-lg-4
                %strong.text-success Brand
              .col
                = @product.brand.name
          %p.card-text
            .row.container
              .col-lg-4
                %strong.text-success Category
              .col
                - @product.categories.each do |category|
                  = category.name
          %p.card-text
            .row.container
              .col-lg-4
                %strong.text-success Width
              .col
                - @product.product_variants.each do |product_variant|
                  = product_variant.width
          %p.card-text
            .row.container
              .col-lg-4
                %strong.text-success Height
              .col
                - @product.product_variants.each do |product_variant|
                  = product_variant.height
          %p.card-text
            .row.container
              .col-lg-4
                %strong.text-success Thickness
              .col
                - @product.product_variants.each do |product_variant|
                  = product_variant.thickness
          %p.card-text
            .row.container
              .col-lg-4
                %strong.text-success Weight
              .col
                - @product.product_variants.each do |product_variant|
                  = product_variant.weight
          %p.card-text
            .row.container
              .col-lg-4
                %strong.text-success Front Camera
              .col
                - @product.product_variants.each do |product_variant|
                  = product_variant.front_camera
          %p.card-text
            .row.container
              .col-lg-4
                %strong.text-success Rear Camera
              .col
                - @product.product_variants.each do |product_variant|
                  = product_variant.rear_camera
        .card-footer
          = link_to 'Edit', edit_product_path(@product)
          \|
          = link_to 'Back', products_path
